extends ./partials/layout.jade

block title
    title Offline first. Автономность прежде всего или как сделать пользователю приятно.

block slides

    article.title.center.dark
        .wrapper
            h1 Offline 
                span  first

    article.new3g

    article.gprs.center.cloud
        h1 
            .wrapper GPRS‽

    article.service.center.cloud
        h1 
            .wrapper Не ловит‽

    article.bgg.center.cloud
        h1 
            .wrapper ;)

    article.rape

    article.two-ways.center.cloud
        h1 
            .wrapper Альтернативы
                br
                | не очень

    article.hmm.center.cloud
        h1 
            .wrapper Но как узнать, 
                br
                | что пользователь 
                br
                | offline?

    article.center.code-1
        .wrapper
            pre
                code.javascript="navigator.onLine\n// true | false"

    article.center.code-1
        .wrapper
            pre
                code.javascript="if(navigator.onLine){\n    // …\n}else{\n    // …\n}"

    article.center.code-5
        .wrapper
            pre
                code.javascript="window.addEventListener('online', callback);\nwindow.document.addEventListener('online', callback);\nwindow.document.body.addEventListener('online', callback);\n\nwindow.addEventListener('offline', callback);\nwindow.document.addEventListener('offline', callback);\nwindow.document.body.addEventListener('offline', callback);"

    article
        iframe(src="./examples/events/index.html")

    article.no-internet.center.cloud
        h1 
            .wrapper Facebook 
                br
                | так тоже может

    article.can-post.center.cloud
        h1 
            .wrapper Более того…

    article
        .backer(data-click=true)
        iframe(src="./examples/form/index.html")

    article.center.code-4
        .wrapper
            pre
                code.javascript="var form = $('#comment-form'),\n\t   messages = [];\nform.on('submit', function (event) {\n    event.preventDefault();\n    if(navigator.onLine){\n        $.post(\n\t\tform.attr('action'), \n\t\tform.serialize()\n\t);\n    }else{\n        messages.push(form.serialize());\n    }\n    form[0].reset();\n});"

    article.center.code-2
        .wrapper
            pre
                code.javascript="$(window).on('online', function () {\n    while(messages.length>0){\n        $.post(\n\t\tform.attr('action'), \n\t\tmessages.shift()\n\t);\n    }\n});"

    article.refresh-pressed

    article.offline-storage.center.dark
        .wrapper
            h1 Offline storage

    article
        .backer(data-click=true)
        iframe(src="./examples/storage/index.html")

    article.center.code-5
        .wrapper
            pre
                code.javascript="var form = $('#comment-form'),\n    messages = JSON.parse(localStorage.getItem('messages')) || [];\n\nform.on('submit', function (event) {\n    event.preventDefault();\n    if(navigator.onLine){\n        $.post(form.attr('action'), form.serialize());\n    }else{\n        messages.push(form.serialize());\n        localStorage.setItem('messages',\n            JSON.stringify(messages));\n    }\n    form[0].reset();\n});"

    article.center.code-4
        .wrapper
            pre
                code.javascript="if(navigator.onLine){\n    while(messages.length>0){\n        $.post(form.attr('action'), messages.shift());\n    }\n    localStorage.removeItem('messages');\n}\n\n$(window).on('online', function () {\n    while(messages.length>0){\n        $.post(form.attr('action'), messages.shift());\n    }\n    localStorage.removeItem('messages');\n});"

    article.expectations

    article.reality

    article.offline-js.center.dark
        .wrapper
            h1 Оffline.js

    article.center.code-1
        .wrapper
            pre
                code.bash="bower install --save offline\nnpm install --save offline-js"

    article.center.code-3
        .wrapper
            pre
                code.html="<link\n rel=\"stylesheet\"\n href=\"themes/offline-theme-chrome.css\">\n<link\n rel=\"stylesheet\"\n href=\"themes/offline-language-english.css\">\n<script src=\"offline.min.js\"></script>"

    article.center.code-2
        .wrapper
            pre
                code.javascript="Offline.options = {\n\tchecks: {…},\n\tcheckmOnLoad: true,\n\tinterceptRequests: true,\n\trequests: true,\n\treconnect: {…}\n\t};"

    article.center.code-1
        .wrapper
            pre
                code.javascript="Offline.check();\nOffline.state;"

    article.center.code-1
        .wrapper
            pre
                code.javascript="Offline.on(\n\tevent,\n\thandler,\n\tcontext);\nOffline.off(\n\tevent,\n\thandler);"


    article.center.code-1
        .wrapper
            pre
                code.javascript="up\ndown\nconfirmed-up\nconfirmed-down\nchecking\n…"

    article
        .backer(data-click=true)
        iframe(src="http://0.0.0.0:8083/")

    article.center.qrcode.hoodie
        .wrapper
            .half
                h3 Offline.js
            .half
                img(src="images/offlinejs.svg", alt="QRCODE cо ссылкой на Offline.js")
            p 
                a(href="goo.gl/HpvLgT", data-click=true) goo.gl/HpvLgT

    article.center.qrcode.hoodie
        .wrapper
            .half
                h3 Offline.js пример
            .half
                img(src="images/offlinejs-demo.svg", alt="QRCODE cо ссылкой на offlinejs Пример")
            p 
                a(href="https://goo.gl/wAT4rk", data-click=true) goo.gl/wAT4rk

    article.center.dark.hoodie-title

    article.center.code-1
        .wrapper
            pre
                code.bash="npm install -g hoodie-cli"

    article.center.code-1
        .wrapper
            pre
                code.bash="hoodie new\ncd my-first-hoodie/\nhoodie start"

    article.hoodie-install-screen

    article.center.code-3
        .wrapper
            pre
                code.html="<script src=\"jquery.min.js\"></script>\n<script src=\"/_api/_files/hoodie.js\"></script>"


    article.wtf-1

    article.center.code-1
        .wrapper
            pre
                code.javascript="hoodie\nhoodie.account\nhoodie.store"

    article.center.code-2
        .wrapper
            pre
                code.javascript="hoodie.account\n\t.signUp(username, password)\n\t.done(success_callback)\n\t.fail(fail_callback);"


    article.center.code-2
        .wrapper
            pre
                code.javascript="hoodie.account\n\t.signIn(username, password)\n\t.done(success_callback)\n\t.fail(fail_callback);"

    article.useless

    article.safe

    article
        .backer(data-click=true)
        iframe(src="http://127.0.0.1:6004/index.html")

    article.conflict

    article
        .backer(data-click=true)
        iframe.half(src="http://127.0.0.1:6004/conflict.html")
        iframe.half(src="http://127.0.0.1:6004/index.html")

    article.wtf-2

    article.prototypo

    article.minutes

    article.center.qrcode.hoodie
        .wrapper
            .half
                h3 HOODIE.JS
            .half
                img(src="images/hoodie.svg", width="100%", alt="QRCODE cо ссылкой на Hoodie")
            p 
                a(href="http://hood.ie/", data-click=true) hood.ie

    article.center.qrcode.hoodie
        .wrapper
            .half
                h3 HOODIE Slack
            .half
                img(src="images/slack2.svg", alt="QRCODE cо ссылкой на Hoodie Slack")
            p 
                a(href="http://hood.ie/chat/", data-click=true) hood.ie/chat/


    article.center.qrcode.hoodie
        .wrapper
            .half
                h3 HOODIE.JS пример
            .half
                img(src="images/hoodie-demo.svg", alt="QRCODE cо ссылкой на Hoodie пример")
            p 
                a(href="https://goo.gl/yH5xJp", data-click=true) goo.gl/yH5xJp

    article.center.swarm-title
        .wrapper
            h1 Swarm.js

    article.center.code-1
        .wrapper
            pre
                code.bash="npm install --save swarm"

    article.center.filename
        .wrapper
            h1 server.js

    article.center.code-3
        .wrapper
            pre
                code.javascript="let swarm = require('swarm'),\n    Text = require('swarm/lib/Text'),\n    fs = new swarm.FileStorage('id'),\n    host = new swarm.Host(\n\t'swarm~nodejs',\n\t0,\n\tfs\n    ),\n    app = new Text('APP');"

    article.center.code-3
        .wrapper
            pre
                code.javascript="ws_server.on('connection', function (ws) {\n\thost.accept(\n\t\tnew swarm.EinarosWSStream(ws),\n\t\t{delay: 50}\n\t);\n});"

    article.center.filename
        .wrapper
            h1 client.js

    article.center.code-2
        .wrapper
            pre
                code.javascript="let swarm = require('swarm'),\n  Text = require('swarm/lib/Text'),\n  host = new swarm.Host('id');\n\nthis.model = new Text('APP');\nthis.model.on(\n  this.eventMonitor.bind(this));"

    article.center.code-2
        .wrapper
            pre
                code.javascript="host.connect(\n  'ws://127.0.0.1:8000/');\nwindow.addEventListener(\n  'onbeforeunload',\n  this.turnOff.bind(this));"

    article.center.code-2
        .wrapper
            pre
                code.javascript="eventMonitor (spec, val, source) {\n  if (spec.op() == 'init') {\n    // Инициализировался\n  } else {\n    // Изменился\n  }\n}"

    article.center.code-1
        .wrapper
            pre
                code.bash="this.model.text"

    article.center.code-1
        .wrapper
            pre
                code.bash="this.model.set(value);"

    article.center.code-1
        .wrapper
            pre
                code.bash="host.close();"

    article
        .backer(data-click=true)
        iframe(src="http://127.0.0.1:8888/index.html")

    article.conflict2

    article
        .backer(data-click=true)
        iframe.half(src="http://127.0.0.1:8888/conflict.html")
        iframe.half(src="http://127.0.0.1:8888/index.html")


    article.center.qrcode.swarm
        .wrapper
            .half
                h3 Swarm.js
            .half
                img(src="images/swarm.svg", alt="QRCODE cо ссылкой на Swarm.js")
            p 
                a(href="http://swarmjs.github.io/", data-click=true) swarmjs.github.io

    article.center.qrcode.swarm
        .wrapper
            .half
                h3 Swarm.js пример
            .half
                img(src="images/swarmjs-demo.svg", alt="QRCODE cо ссылкой на пример Swarm.js")
            p 
                a(href="https://goo.gl/S8odgW", data-click=true) goo.gl/S8odgW

    article.service-worker.center.dark
        .wrapper
            h1 Service Workers

    article.can

    article
        .backer(data-click=true)
        iframe(src="https://silentimp.github.io/service-worker-demo/")

    article.center.code-2
        .wrapper
            pre
                code.javascript="if ('serviceWorker' in navigator) {\n  navigator.serviceWorker.register(\n    'worker.js',\n    {scope: '/'})\n  .then(success)\n  .catch(error);\n}"

    article.center.filename
        .wrapper
            h1 worker.js

    article.code-1.center
        .wrapper
            pre
                code.javascript="// События\n\ninstall\nactivate\nfetch\nmessage"

    article.center.dark.fetch
        .wrapper
            h1 Перехват запросов

    article.code-1.center
        .wrapper
            pre
                code.javascript="this.addEventListener(\n\t'fetch',\n\tfunction(event) {});"

    article.code-1.center
        .wrapper
            pre
                code.javascript="event.request"

    article.code-1.center
        .wrapper
            pre
                code.javascript="event.request.url"

    article.code-1.center
        .wrapper
            pre
                code.javascript="event.respondWith(\n\tnew Response('Owned!')\n);"

    article.center.dark.cach
        .wrapper
            h1 Сохранение в кэш

    article.code-1.center
        .wrapper
            pre
                code.javascript="caches.open('id')\n  .then(function(cache) {\n    return cache.addAll([…]);\n  });"

    article.code-3.center
        .wrapper
            pre
                code.javascript="event.respondWith(\n  caches.open('id')\n    .then(function(cache) {\n      return cache.match(event.request)\n       .then(function(response) {…}\n     });\n  });"

    article.code-2.center
        .wrapper
            pre
                code.javascript="if (response) {\n  return response;\n} else {\n  cache.add(event.request.url);\n  return fetch(event.request);\n}"

    article.center.dark.message
        .wrapper
            h1 Cообщения

    article.code-2.center
        .wrapper
            pre
                code.javascript="// client.js\n\nlet message = {\n  'command': 'flush'\n};\nnavigator\n  .serviceWorker\n  .controller\n  .postMessage(message);"

    article.code-2.center
        .wrapper
            pre
                code.javascript="// worker.js\n\nswitch (event.data.command) {\n  case 'flush':\n    return caches.delete('id');\n    break;\n}"

    article.center.bugs.dark
        .wrapper
            h1 Отладка

    article.center.code-2
        .wrapper
            pre
                code.javascript="// Chrome\nchrome://inspect/#service-workers\n\n// Opera\nbrowser://serviceworker-internals\n\n// Firefox\nabout:serviceworkers"

    article.inspect

    article.log


    article.center.qrcode.swarm
        .wrapper
            .half
                h3 Service Workers 
            .half
                img(src="images/sws.svg", alt="QRCODE cо ссылкой на спецификацию Service Workers")
            p 
                a(href="https://slightlyoff.github.io/ServiceWorker/spec/service_worker/", data-click=true) goo.gl/3LeXLw

    article.center.qrcode.swarm
        .wrapper
            .half
                h3 Service Workers пример
            .half
                img(src="images/sw-demo.svg", alt="QRCODE cо ссылкой на пример Service Workers")
            p 
                a(href="https://goo.gl/TRlRi3", data-click=true) goo.gl/TRlRi3


    article.center.qrcode.slack
        .wrapper
            .half
                h3 
                    span
                        | Offline 
                        br
                        | First 
                        br
                        | Community
            .half
                img(src="images/slack2.svg", alt="QRCODE cо ссылкой на Slack")
            p 
                a(href="http://offlinefirst.org/chat", data-click=true) offlinefirst.org/chat


    article.cake.center.cloud
        h1 
            .wrapper Offline first
                br
                | не тортик

    article.cherry.center.cloud
        h1 
            .wrapper Offline first 
                br 
                | вишенка

    article.many.center.cloud
        h1 
            .wrapper Вас таких много
                br
                | стоит выделиться

    article.meanie.center.cloud
        h1 
            .wrapper Не будьте буками!

    article.pleasure.center.cloud
        h1 
            .wrapper Сделайте
                br 
                | пользователю 
                br 
                | приятно


    article.contacts.center.qrcode
        .wrapper
            .about-speaker
                p.name Антон Немцев
                p.link http://silentimp.info/
                p.twitter @silentimp
                p.email thesilentimp@gmail.com
                p.skype skype: ravencry
            img.link(src="images/git.svg", alt="QRCODE cо ссылкой на доклад")
            p http://goo.gl/lTV0bL
